# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
# Pods - for those of you who use CocoaPods
Pods

iArtist.xcodeproj/project.pbxproj

iArtist/AsyncImageView.m

iArtist/Base.lproj/Main.storyboard

iArtist/Base.lproj/Main.storyboard

iArtist/FullSizePictureViewController.m

iArtist/iCaruselViewController.m

iArtist/ServerFetcher.m

iArtist/LikedViewController.m

iArtist/LikedViewController.m
